<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Uppgift 4.2</title>
        <meta charset="utf-8">
    </head>
    <body>
        <p>Nu har webbserversidesprogrammet försökt sända med två kakor i HTTP-huvudet till dig. Om din webbläsare tillåter kakor så kommer de att sparas på din hårddisk och din webbläsare kommer att sända dem till webbserversidan varje gång, under tre timmar, som du går till samma domän/sökväg som sände kakorna. Du kan testa att sända kakorna till webbserversidan genom att klicka <a href="exempel2">här</a>.</p>
    </body>
</html>