<!DOCTYPE html>
<html>
    <head>
        <title>Uppgift 4.2</title>
        <meta charset="utf-8">
    </head>
    <body>
        <p> Följande information inbäddad i kakor sändes nu från dig till webbserversidesprogrammet: 
        </p>
        Tid = {{tid}}
        <br>
        Namn = {{namn}}
    </body>
</html>