<!DOCTYPE html>
<html lang="sv">
    <head>
        <title> Uppgift 3.2</title>
        <meta charset="utf-8">
    </head>
    <body>
		<h1> Kodseparation med dynamiska webbsidor </h2>
        <table>
            <tbody>
                <tr>
                    <th align="left">Namn</td>
                    <th align="left">Värde</td>
                </tr>
					{{#each content}}
                <tr>
                    <td>{{@key}}</td>
                    <td>{{this}}</td>
                </tr>
					{{/each}}
            </tbody>
        </table>
    </body>
</html>