<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Uppgift 5.1.1</title>
        <meta charset="utf-8">
    </head>
    <body>
        <form method="post" action="send">
            Från*:
            <input type="text" name="from"/>
            <br>
            Till*:
            <input type="text" name="to"/>
            <br>
            Cc:
            <input type="text" name="cc"/>
            <br>
            Bcc:
            <input type="text" name="bcc"/>
            <br>
            Ärende*:
            <input type="text" name="subject"/>
            <br>
            Meddelande:
            <br>
            <textarea name="message" rows="10" cols="20"></textarea>
            <br>
            Lösenord*:
            <input type="text" name="password"/>
            <br>
            <input type="submit" value="Sänd e-brev"/>
        </form>
    </body>
</html>