<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Skapa event</title>
        <meta charset="utf-8">
		<style>
			form {
				font-family: sans-serif;
				font-size: 14px;
				line-height: 1.4;
			}
				
			h1 {
				padding-right: 300px;
				width: 100px;
				padding-left: 35px;
				font-size: 20px;
				line-height: 1.4;
			}
			form {
				padding-left: 550px;
				width: 100px;
				font-size: 20px;
				line-height: 1.4;
			}
		</style>
    </head>
    <body>

	</form>
        <form method="post" action="createEvent">

		<h1>Nytt event </h1>
            Datum:
            <input type="text" name="datumevent"/ required>
            <br>
            Typ:
            <input type="text" name="typ"/ required>
            <br>
            Beskrivning:
            <br>
            <textarea name="kommentar" rows="10" cols="20"></textarea>
            <br>
            <input type="submit" value="Skapa event"/>
        </form>
        <br>
       
        </div>
    </body>
</html>