<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Uppgift 4.1.2</title>
        <meta charset="utf-8">
    </head>
    <body>
        namn = {{namn}}
        <br>e-post = {{epost}} 
        <br>knapp = {{knapp}} 
    </body>
</html>